/* === IMPORTS === */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* 
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 
    End of CSS RESET
*/
/* === VARIABLES === */
:root {
    --main-font: 'vt323';
    --black: #010203;
    --ultramarine: #789CB1;
    --ultramarine-dark: #09354F;
    --background-blue : #5c8ec3;
    --white: #eef9ff;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--black);
    font-family: var(--main-font);
    font-size: 1.25rem;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: var(--ultramarine);
}

.big-title {
    margin: 0 1rem;
    font-size: 2rem;
    line-height: 150%;
    font-weight: 500;
    text-align: center;
    text-shadow:
        -0.0625rem 0.0625rem var(--ultramarine-dark),
        -0.125rem 0.125rem var(--ultramarine-dark),
        -0.1875rem 0.1875rem var(--white),
        -0.25rem 0.25rem var(--white);
}

h2 {
    font-size: 1.5rem;
}

.home {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: var(--ultramarine);
}

.game {
    position: absolute;
    width: 100%;
    max-width: 64rem;
    height: 100vh;
    max-height: 100vh;
    background-color: var(--background-blue);
}

.game-end {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    width: 100%;
    max-width: 64rem;
    height: 100vh;
    max-height: 100vh;
    background-color: var(--ultramarine);
}

.parameter {
    position: absolute;
    width: 100%;
    max-width: 64rem;
    height: 100vh;
    max-height: 100vh;
    background-color: darkgray;
}

.container {
    padding: 0 1rem 2rem 1rem;
    width: 100%;
}
.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-icon{
    width: 2rem;
    height: auto;
}
.hero-container {
    display: grid;
}

.hero-img-container {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    max-height: 24rem;
    overflow: hidden;
}

.hero-img {
    width: 100%;
}

.hero-content {
    margin-top: 1rem;
}

.rules-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.rules-hr {
    justify-self: center;
    margin: 1rem 0;
    height: 0.125rem;
    width: 50%;
    background-color: var(--ultramarine-dark);
    color: var(--ultramarine-dark);
    border: none;
}

.rules-list-item {
    margin: 0.5rem 0;
}

.nav-container {
    margin-top: 2rem;
}

.secondary-btn-group {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.btn {
    width: 100%;
    height: 2rem;
    font-family: var(--main-font);
    font-size: 1.25rem;
    color: var(--black);
    border: 0.0625rem solid var(--ultramarine-dark);
    box-shadow:
        -0.125rem 0 0 0 var(--ultramarine-dark),
        0.125rem 0 0 0 var(--ultramarine-dark),
        0 -0.125rem 0 0 var(--ultramarine-dark),
        0 0.125rem 0 0 var(--ultramarine-dark);
}

.btn:focus,
.btn:focus-visible,
.btn:hover,
.btn:target {
    text-shadow:
        -0.0625rem 0.0625rem var(--ultramarine-dark),
        -0.125rem 0.125rem var(--ultramarine-dark),
        -0.1875rem 0.1875rem var(--white),
        -0.25rem 0.25rem var(--white);
    box-shadow:
        -0.125rem 0 0 0 var(--black),
        -0.250rem 0 0 0 var(--ultramarine-dark),
        0.125rem 0 0 0 var(--black),
        0 -0.125rem 0 0 var(--black),
        0 0.125rem 0 0 var(--black),
        -0.250rem 0.250rem 0 0 var(--ultramarine-dark),
        -0.375rem 0.375rem var(--white);
}

.footer-content {
    font-size: 1rem;
    text-align: center;
}

/* === GAME PAGE === */
#game-screen {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
#fixed-sky{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%;
    height: 30vw;
    max-height: 160px;
    background-image:url('../img/sky_and_cloud_mowable.png');
    background-repeat: repeat-x;
    background-size: contain;
}
#infinite-scrolling{
    min-width: 100%;
    min-height: 300vh;
    background-image:url('../img/background_mowable.png');
    background-size:100% 33%;
    background-repeat:repeat-y;
    background-position:center;
    animation: none, slide 16s linear infinite;
}

@keyframes slide {
    0% {
        transform: translate3d(0, -100vh, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
.score-banner{
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    width: 100%;
    color: var(--black);
    font-weight: 500;
}
.nav-game {
    display: flex;
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

/* === === === ===*/
.hidden {
    display: none;
}


@media (min-width: 1024px) {
    body {
        font-size: 1.75rem;
    }
    .big-title {
        font-size: 2.5rem;
    }
    .title-container{
        margin-bottom: 1rem;
    }
    h2 {
        margin-top: -0.5rem;
        font-size: 2rem;
    }
    .hero-container {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .hero-container {
        gap: 1rem;
    }
    .hero-content {
        margin-top: 0;
    }
    .game{
        border-left: 0.125rem solid var(--ultramarine-dark);
        border-right: 0.125rem solid var(--ultramarine-dark);
    }
}